:root {
	--c-primary: #201d27;
	--c-black: #000;
	--c-black-rgb: 0, 0, 0;
	--c-grey: #ccc;
	--c-grey-light: #888;
	--c-grey-dark: #444;
	--c-white: #fff;
	--c-white-light: #ddd;
	--c-white-dark: #f4f4f4;
	--c-white-rgb: 255, 255, 255;
	--c-green: #29a643;
	--c-green-light: #b1ffc2;
	--c-green-lighter: #f3fef4;
	--c-red: #d51820;
	--c-red-light: #ffa3a6;
	--c-yellow: #ffc255;
	--c-yellow-light: #fff8d6;
	--c-text-dark: #252525;
}
